streamlit==1.39.0
langchain==0.3.4
openai===1.52.0
pydub==0.25.1
SpeechRecognition==3.10.0
numpy==1.23.5
noisereduce==2.0.1
pygame==2.6.1
gTTS==2.5.3
tiktoken==0.8.0
pyaudio==0.2.14
faiss-cpu==1.8.0.post1
langchain_community==0.3.3
langchain_openai==0.2.3
